# IntelliJ
.idea/
*.iml
*.iws
out/
target/

# Logs
*.log

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# OS Files
.DS_Store
Thumbs.db
